# Default ignored files
/shelf/
/input
/input/best-artworks-of-all-time/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
